* {
    box-sizing: border-box; /* Para garantir que o padding e a borda não aumentem a largura total */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffbd59; /* Cor de fundo para um visual mais agradável */
}

header {
    background: #f1c86c; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto no cabeçalho */
    padding: 20px;
    text-align: center;
}

nav {
    background: #5d8b8b; /* Cor de fundo da barra de navegação */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px; /* Aumenta o espaçamento entre os itens do menu */
}

nav ul li a {
    color: #af7ba9; /* Cor do texto dos links de navegação */
    text-decoration: none;
}

main {
    display: flex; /* Usar flexbox para layout */
    justify-content: space-around; /* Espaçar as
    